table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: 2px solid white;
}

th {
  background-color: #4CAF50;
  color: white;
  height: 50px;
  font-weight: bold;
  border: 2px solid white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2{
	font-family: arial, sans-serif;
	color:#4CAF50;
	text-align: center;
}

.header {
  border: 1px solid gray;
  padding-bottom: 8px;
  padding-top:2px;
  //background-image: linear-gradient(to bottom right, red, yellow);
  background-color: white;
  //margin-left:25%;
  //margin-right:25%;
}


.refreshForm { 
    width:25%;
    float:left;
    padding-left:0%;
    padding-right:0%;
	margin-left:10%;
	margin-right:5%
}

.scrollForm { 
    width:25%;
    float:left;
    padding-left:0%;
    padding-right:0%;
}


.myButton{
  background: #76b852;
  width: 50%;
  border: 1%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  float: right;
  //border-radius:6px;
  
}

.refreshBtn{
	background: #6a8b5a;
}

.nextBtn{
}

.prevBtn{
background-color: #4da6ff;
}

