<link rel="stylesheet" href='/static/login.css' />
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/login" method="POST">
      <input class="userInput" type="text" name="username" placeholder="Username" autofocus>
      <input class="userInput" type="password" name="password" placeholder="Password">
      <input class="myButton" type="submit" value="Log in">
	  {% if wrongLogin %}
	  <p class="message">Wrong Credentials. Please try again.</p>
	  {% endif %}
    </form>
  </div>
</div>
