<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href='/static/table.css' />
</head>

<body>
	<meta http-equiv="refresh" content="5;URL='refreshPage'">
	
	<div class="header">
		<h2>SQL Data LOG</h2>
		<form class="refreshForm" action="/postRefreshPage" method="POST">
		  <button class="myButton refreshBtn" name="refresh" type="submit" value="1">REFRESH PAGE</button>
		</form>
		<form class="scrollForm" action="/scrollPage" method="POST">
		  <button class="myButton nextBtn" name="direction" type="submit" value="forward">NEXT</button>
		  <button class="myButton prevBtn" name="direction" type="submit" value="backward">PREV</button>
		</form>
		<br><br><br>
	</div>

	

	<table>
	  <tr>
		<th>Priority</th>
		<th>Task</th>
		<th>Amount</th>
	  </tr>
	  
	{% for ingredient in dataArray%}
		<tr>	
		{% if ingredient[0]==-2 %}
		<td bgcolor="#FF0000"></td>
		{% elif ingredient[0]==0 %}
		<td bgcolor="#FF0FF0"></td>
		{% elif ingredient[0]==4 %}
		<td bgcolor="#3366ff"></td>
		{% endif %}
		
		<td>{{ingredient[1]}}</td>
		<td>{{ingredient[2]}}</td>
		</tr>
	{% endfor %}
	</table>

</body>
</html>

 