<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<meta http-equiv="refresh" content="5;URL='refreshPage'">

<br>
<form action="/postRefreshPage" method="POST">
  <button name="refresh" type="submit" value="1">REFRESH PAGE</button>
</form>
<br>
<form action="/scrollPage" method="POST">
  <button name="direction" type="submit" value="forward">NEXT</button>
  <button name="direction" type="submit" value="backward">PREV</button>
</form>

<br>


<h2>SQL Data LOG</h2>


<table>
  <tr>
    <th>Priority</th>
    <th>Task</th>
    <th>Amount</th>
  </tr>
  
{% for ingredient in dataArray%}
	<tr>	
	{% if ingredient[0]==-2 %}
	<td bgcolor="#FF0000"></td>
	{% elif ingredient[0]==0 %}
	<td bgcolor="#FF0FF0"></td>
	{% elif ingredient[0]==4 %}
	<td bgcolor="#3366ff"></td>
	{% endif %}
	
	<td>{{ingredient[1]}}</td>
	<td>{{ingredient[2]}}</td>
	</tr>
{% endfor %}

</table>


</body>
</html>

